@import "tailwindcss";

.active {
  border: 2px solid rgba(255, 255, 255, 0.5);
  animation: pulseBorder 5s infinite;
  background-color: rgba(255, 255, 255, 0.396);
  color: #060f28;
  scale: 1.08;
  transition: all 0.5s ease-in-out;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.87);
  }
}

.custom-bg {
  background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #430167 100%);
}

::-webkit-scrollbar {
  @apply bg-transparent h-2;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white/40 backdrop-blur-2xl cursor-grabbing;
}
