@import "tailwindcss";

.animate-custom-pulse {
  animation: pulseBorder 5s infinite;
}

.active {
  border: 2px solid rgba(255, 255, 255, 0.5);
  animation: pulseBorder 5s infinite;
  background-color: rgba(255, 255, 255, 0.396);
  color: #060f28;
  scale: 1.08;
  transition: all 0.5s ease-in-out;
}

@keyframes pulseBorder {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.8);
  }
  100% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.87);
  }
}

.custom-bg {
  background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #430167 100%);
}

/* DIV SCROLLBARS (generic rule) */
div::-webkit-scrollbar {
  @apply bg-transparent h-2 w-2;
}

div::-webkit-scrollbar-thumb {
  @apply rounded-full bg-white/40 cursor-grab;
}

/* PAGE / BROWSER SCROLLBAR     */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  @apply bg-transparent w-2;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-700/50 cursor-grab;
}

body {
  @apply m-0 bg-gray-950;
}
